form(class="create-post" action="#" method="POST")
    input(class="create-post__title" placeholder="Введите название поста" type="text" required)
    textarea(class="create-post__text" placeholder="Введите текст" rows="10" required)
    button(class="create-post__submit" type="submit") Создать