.navigation
   
    input(class="navigation__tab" id="tab1" type="radio" name="tabs" checked)
    label(class="navigation__label" for="tab1" title="Posts") Posts

    input(class="navigation__tab" id="tab2" type="radio" name="tabs")
    label(class="navigation__label" for="tab2" title="Create Post") Create Post

    input(class="navigation__tab" id="tab3" type="radio" name="tabs")
    label(class="navigation__label" for="tab3" title="Favourite") Favourite


    section(class="navigation__section" data-id="posts")
        p.navigation__info Здесь будут отображаться посты
        
    section(class="navigation__section" data-id="create-post")
        include ../CreatePost/create-post.pug

    section(class="navigation__section" data-id="favourite")
        p Здесь будут отмеченные посты
    