.post {
  padding: 20px 10px;

  &__author {
    font-size: 0.9em;
    font-weight: bold;
    font-style: italic;

    & span {
      font-weight: 400;
      font-style: normal;
    }
  }

  &__title {
    font-size: 1.5em;
  }

  &__text {
    text-indent: 1.3em;
    line-height: 1.5;
  }

  &__favourite {
    padding: 5px 0;
    font-size: 1.4em;
    cursor: pointer;

    &--active {
      color: orange;
    }

    &:hover {
      transition: opacity 0.4s ease;
      opacity: 0.7;
    }
  }

  &__date {
    color: gray;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and(max-width: 480px) {
  .post {
    padding: 15px 5px;

    &__title {
      font-size: 1.4em;
    }

    &__text {
      text-indent: 1.3em;
      line-height: 1.3;
    }
  }
}
