form.login
    img.login__img(alt="login-img" src="./img/login.svg")
    
    .login__form
        h2.login__header Welcome to Post App

        label.login__email-label(for="email") Email *
        input.login__input(id="email" type="email"  required)
    
        label.login__password-label(for="password") Password *
        input.login__input(id="password" type="password"  required)
    
        .login__error.login__error_hidden error
    
        .login__buttons
            button.login__btn.login__btn_login(type="button") Log in
            button.login__btn.login__btn_signup(type="submit") Sign Up